@media screen and (max-width: 1200px) {
  body{
    overflow-x: hidden;
    width: 100%;
  }
  #dobra1{
    overflow-x: hidden;
  }

  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
    height:130px;
    align-items: center;
  }
  h1{
    margin-left:15px;
  }
  h2{
    font-size: 36px;
    line-height: 1.2;
    margin: 0 25px 0 30px;
  }
  header #isc_button{
    margin-left: 60px;
  }
  h2:first-of-type{
      margin: 25px 0 0 30px;
      text-align: left;
  }
  hr{
    width:85%;
    justify-content: center;
    margin:40px 30px 50px 30px;
  }
  main{
    flex-direction: column;
    height: auto;
    gap: 5;
  }  

  #title{
  margin: auto;
  }
  p{
    justify-content: space-between;
    margin: 25px;
    height: auto;
    max-width: 90%;
    text-align: left;
    margin-top: 35px;
  }

  img.hide-on-mobile {
    display: none;
  }
  #container {
    flex-direction: column; /* Alinha os módulos verticalmente */
    align-items: center; /* Centraliza os módulos */
    margin:auto;
    padding: 10px 0;
    height: auto;
    overflow-x: hidden;
  }

  #container p {
    width: 80%; /* Ajusta a largura dos módulos para caber na tela */
    max-width: 400px;
    margin: auto; /* Remove o recuo à esquerda */
    margin-bottom: 20px;
    font-size: 20px;
  }
  #db3 #isc_button{
    padding: 15px 30px;
    margin: 25px 35px;
  }
  .dobra3{
    margin:auto;
    padding: 10px 0;
    height: auto;/*garante que a dobra 3 oculpe 100% da altura da tela*/
    overflow-x: hidden;
  }
  .dobra3 p{
    margin: auto;
    padding: 10px 0;
    width: 90%;
  }
  footer{
    height: auto;
    padding: 20px;
    text-align: center;
  }

}